<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Add product</h1>
  </div>
</div>

<div class="row">
  <div id="signin" class="col-sm-4 col-sm-offset-3">
    <!-- form for -->
        <%= bootstrap_form_for @select_product do |f|%>
          <div class="form-group">
            <%= f.text_field :brand%>
            <%= f.text_field :product_name%>
            <% if !params[:select_product]['size'] %>
            <% params[:select_product]['size'] = "" %>
            <% end %>
            <%= f.text_field :size, :value => params[:select_product]['size'].first%>

            <%= f.text_field :category%>
            <%= f.text_field :avg_price, :value => params[:select_product]['avg_price']%>
            <%= f.date_field :date_first_use, :value =>Date.today%>
            <%= f.date_field :date_expired, :value =>Date.today+1.year%>
            <%= f.check_box :like_or_not, label: 'Like?'%>
            <%= f.text_area :review%>

            <%= f.hidden_field :factual_id, :value => params[:select_product]['factual_id']  %>
            <%= f.hidden_field :upc, :value => params[:select_product]['upc']  %>
            <%= f.hidden_field :ean13, :value => params[:select_product]['ean13']  %>
            <%= f.hidden_field :upc_e, :value => params[:select_product]['upc_e']  %>
            <%= f.hidden_field :manufacturer, :value => params[:select_product]['manufacturer']  %>
            <%= f.hidden_field :ingredients, :value => params[:select_product]['ingredients']  %>
            
            <!-- CLONE IMAGE URLS -->
            <% if params[:select_product]['image_urls'] %>
              <% params[:image_urls] = [] %>
              <% params[:select_product]['image_urls'].each do |i| %>
                <% params[:image_urls].push(i) %>
              <% end %>
            <% end %>
            <!-- ASSIGN AMAZON LINK IF LINK TO IS AVAI. -->
            <% if @amazon %>
              <%= f.hidden_field :amazon_link, :value => @amazon['url']  %>
              <%= f.hidden_field :amazon_ASIN, :value => @amazon['namespace_id']  %>
            <% end %>
            <%= f.hidden_field :image_urls, :value => params[:image_urls] %>
            <%= f.submit 'Add to my case!', :class => 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
    <!-- form for end -->
  </div>
<%#= raise params[:select_product]['image_urls'].inspect %>
  <div class="col-sm-3">
    <% if params[:select_product]['image_urls'] %>
      <% params[:select_product]['image_urls'].each do |image| %>
        <%= image_tag(image, :class => "img-rounded", :width => "100") %>
      <% end %>
    <% end %>
  </div>
</div>
