<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1><%= @user.name %> profile</h1>
  </div>
</div>

<div class="row">
  <div id="signin" class="col-sm-4 col-sm-offset-4">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
            <% if @user.photos && @user.photos.last %>
              <div id="profile_pic" class="text-center">
                <%= image_tag @user.photos.last.image.url(:thumbnail), :class => "img-circle" %>
              </div>
            <% else %>
              <%= bootstrap_form_for(@photo, :url => {:action => :create, :controller => :photos}) do |f| %>
                <%= f.label :image, 'Your profile picture' %>
                <%= f.file_field :image%>
                <%= f.submit 'Submit', :class => 'btn btn-primary'%>
              <% end %>
            <% end %>
        </tr>
        <tr>
          <td>Name</td>
          <th><%= @user.name%></th>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= @user.email%></td>
        </tr>
        <tr>
          <td>Want to get our emails?</td>
          <td><%= @user.agree_marketing%></td>
        </tr>
        <tr class="active">
          <td class="text-right"><%= link_to 'Edit', edit_user_path(@user)%></td>
          <td class="text-left"><%= link_to 'Delete Account', @user, method: :delete, data: {confirm: 'Are you sure? All your content will be lost and you will have to start all over again.'} %></td>

        </tr>
      </table>
    </div>
  </div>
</div>
